<div class="flex flex-col items-center mb-8 mt-8">
  <div class="w-12 h-12 rounded-full bg-gradient-to-br from-red-800 to-red-950
              flex items-center justify-center shadow-lg mb-6">
    <svg class="w-7 h-7 text-red-300"
         viewBox="0 0 24 24"
         fill="currentColor">
      <path d="M3 20V4h4l5 9 5-9h4v16h-3V9l-6 11L6 9v11H3z"/>
    </svg>
  </div>
  <h2 class="text-xl font-semibold dm-text-zinc-100">
    {{ mode === 'login' ? 'Sign In' : 'Register' }}
  </h2>
</div>

<form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
	<div class="card flex flex-col justify-center mb-6 mt-4 gap-8">
		<div *ngIf="mode === 'register'">
			<p-floatLabel variant="on">
				<input pInputText id="username" formControlName="username" class="!w-full"/>
				<label for="username">Username</label>
			</p-floatLabel>
		</div>
		<div>
			<p-floatLabel variant="on">
				<input pInputText id="mail" formControlName="mail" autocomplete="off" class="!w-full"/>
				<label for="mail">Email</label>
			</p-floatLabel>
			@if (loginForm.get('mail')?.invalid && (loginForm.get('mail')?.touched || formSubmitted)) {
				<p-message severity="error" size="small" variant="simple">Email is required.</p-message>
			}
		</div>
		<div>
			<p-floatLabel variant="on">
				<input pInputText id="password" formControlName="password" class="w-full"/>
				<label for="password">Password</label>
			</p-floatLabel>
			@if (loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || formSubmitted)) {
				<p-message severity="error" size="small" variant="simple">Password is required.</p-message>
			}
		</div>
		<div>
			<p-floatLabel *ngIf="mode === 'register'" variant="on">
				<input
					pInputText
					type="password"
					formControlName="confirmPassword"
					class="!w-full"
					[invalid]="loginForm.get('confirmPassword')?.invalid && (loginForm.get('confirmPassword')?.dirty || loginForm.get('confirmPassword')?.touched || formSubmitted)"
				/>
				<label>Confirm Password</label>
			</p-floatLabel>

			@if (loginForm.get('confirmPassword')?.errors?.['passwordsMismatch'] && (loginForm.get('confirmPassword')?.touched || formSubmitted)) {
				<p-message severity="error" size="small" variant="simple">
					Passwords do not match.
				</p-message>
			}
		</div>
		<p class="text-sm text-center text-gray-400">
			<ng-container *ngIf="mode === 'login'">
				Don’t have an account?
				<button
				type="button"
				class="text-emerald-400 hover:underline"
				(click)="setMode('register')">
				Register
				</button>
			</ng-container>

			<ng-container *ngIf="mode === 'register'">
				Already have an account?
				<button
				type="button"
				class="text-emerald-400 hover:underline"
				(click)="setMode('login')">
				Login instead
				</button>
			</ng-container>
		</p>
	</div>

	<div class="flex flex-col gap-3 px-4 mb-6">
		<p class="text-center text-gray-400 text-sm">or continue with</p>
		
		<a href="http://localhost:8080/oauth2/authorization/google"
			class="flex items-center justify-center gap-2 w-full py-2 rounded
							border border-zinc-600 text-zinc-500 hover:text-zinc-400 hover:bg-zinc-700 transition">
			<img src="https://www.google.com/favicon.ico" class="w-4 h-4"/>
			Continue with Google
		</a>

		<a href="http://localhost:8080/oauth2/authorization/github"
			class="flex items-center justify-center gap-2 w-full py-2 rounded
							border border-zinc-600 text-zinc-500 hover:text-zinc-400 hover:bg-zinc-700 transition">
			<svg class="w-4 h-4 fill-current" viewBox="0 0 24 24">
				<path d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577
								0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61-.546-1.385-1.335-1.755
								-1.335-1.755-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236
								1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466
								-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176
								0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405
								2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23
								1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22
								0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 21.795 24 17.295
								24 12c0-6.63-5.37-12-12-12"/>
			</svg>
			Continue with GitHub
		</a>
	</div>

	<div (click)="loginCancel()" class="flex justify-center gap-4">
		<p-button label="Cancel"  class="!w-full" styleClass="!w-full !bg-neutral-900 !border-zinc-400 !text-white !text-lg 
			!tracking-wide hover:!bg-emerald-600 hover:!border-emerald-600 transition-colors mb-6">
		</p-button>
		<p-button type="submit" [label]="mode === 'login' ? 'Login' : 'Register'" [loading]="loading" [disabled]="!loginForm.valid"
			class="!w-full" styleClass="!w-full !bg-neutral-900 !border-zinc-400 !text-white !text-lg 
				!tracking-wide hover:!bg-emerald-600 hover:!border-emerald-600 transition-colors mb-6">
		</p-button>
	</div>
</form>
